<footer class="footer">
    <span class="text">&copy; Francisco Guerrero&nbsp;</span>
    <a href="https://github.com/franciscog123/ng-weather-app">
        <img class="icon" border="0" alt="Github Repo" src="assets/GitHub-Mark-32px.png" width="30" height="30">
        </a>
        &nbsp;
        <a href="https://linkedin.com/in/francisco-guerrero-a009b0178">
            <img class="icon" border="0" alt="LinkedIn" src="assets/linkedin-icon-nofill.png" width="35" height="35">
            </a>
</footer>