<form class="input-wrapper" [formGroup] ="searchForm">
    <mat-form-field appearance ="outline" color="primary">
            <mat-label >Input a city</mat-label>
            <input matInput class="myInput" placeholder="houston" type="search" formControlName="inputBar">
        </mat-form-field>
</form>

<app-main-weather-card *ngIf="currentWeather$" [currentWeather$]=currentWeather$ ></app-main-weather-card>
<app-seven-day-forecast *ngIf="forecast$" [forecast$]=forecast$></app-seven-day-forecast>
  